# Temporary files and dependencies
test*.php
*-old.php
/vendor/


# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# macOS files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes