# Temporary files and dependencies
/deps/
/node_modules/
/vendor/
test*.*
*-old.php
yarn-error.log


# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# macOS files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes